<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <h1 class="mx-auto bg-blue-200 text-center py-4 text-3xl font-pacifico">New Student</h1>
        <nav class="flex justify-center text-center mt-2  ">

            <form class="bg-gray-200 w-full pt-4" action="/students" method="post">
                Name: <input class="w-1/2 shadow-lg ml-2 pl-2 rounded py-1" type="text" name="name"><br><br>
                Age: <input class="shadow-lg w-sm pl-2 rounded" type="number" name="age"><br><br>
                Passed: <input type="checkbox" name="passed"><br><br>
                <input class="bg-red-300 py-2 px-2 hover:text-white mb-4" type="submit" value="Add Student">
            </form>
        </nav>
    </body>

</html>